{% extends 'base.html' %} 
{% block title%}Home{% endblock %} 
{% block content%}
{% if timetables %}
<table class='table table-bordered'>
	<thead>
<th>No</th>
<th>Semester</th>
<th>Year</th>
<th></th>
</th>
</thead>
<tbody>
{% for timetable in timetables %}
<tr>
<td></td>
<td>{{ timetable.semester }}</td>
<td>{{ timetable.year }}</td>
<td>
	<a href="/timetable/{{ timetable.id }}/{% now "Y/m/d" %}" >View</a>
</td>
</tr>
{% endfor %}
</tbody>
</table>
{% endif %}
{% if not timetables %}
<p>You don't have timetable
{% endif %}
{% endblock %}
